.right{
    text-align: left;
    overflow-y: scroll;

}
.right::-webkit-scrollbar {
    display: none;
  }
.right-div{
    padding-left: 10%;
    display :none;
}
p{
    width:80%;
 
    color: #B1B0B6;
}
#projecTitle{
    display: inline-block;

    margin-top: 13%;
    font-size: 22px;
    color: #28293D;
}
hr{
    width: 80%;
    margin-right: 40%;
    
    color: #28293D;
}
.right-div-grid{
    display: grid;
    grid-template-columns: auto auto auto ;
}

.right-div-grid-a{
    display: grid;
    grid-template-columns: 10% 40% 50% ;
}
.right-sub-title{
    font-size: 16px;
    margin-top: 100px;
 
   
    padding-bottom: 20px;
}
/* .right-div-grid>p{
    display: inline-block;
    width: 100px;
   
} */
.img-right-div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #4d4d4d;
    margin: auto;
  
}
.p-right-div-list {
    background-color: #d8d8d8;
    border-radius: 3px;
    text-align: center;
    border-width: 0px;
    height: 25px;
    width: 100px;
    margin-top: 10px;
}
.projectBoxRight{
    background-color: #d8d8d8;
    background-attachment: fixed;
    background-size: contain;
    margin: 20px;
    
    border-radius: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
}
.image{
    height: 26.6px;
    margin: auto;
    margin-top: 30%;
    padding-bottom: 15px;
}
.image:hover{
    cursor: pointer;
}
.topRigthGrid{
    display: block;
   
}
.image-a{
    height: 26.6px;
    margin: auto;
   
    
}
.image-b{
    height: 40px;
 
    border-radius: 50%;
    border: #b347ed solid 2px;
    margin-right: 100px;
    margin-top: 75px;
   
   
    
}


.myButton {
    box-shadow: 1px 2px 30px 0px #4d4d4d;
    background-color: #b347ed;
    border-radius: 13px;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5c5b5c;
    padding: 9px;
 
}
	

.myButton:hover{
    cursor: pointer;
  
}
.xs{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.xz{
    float: right;
    margin-top: 13%;
    margin-right: 10%;
}
.sub-Project-Name{
    display: none;
}
.play-img {
    width: 20px;
    margin-top: 7px;
    margin-left: 10px;
    position: relative;
    top: 5px;
}
.play-img:hover{
    cursor: pointer;
}