.right{
    text-align: left;
    overflow-y: scroll;

}
.right::-webkit-scrollbar {
    display: none;
  }
.right-div{
    padding-left: 10%;
}
p{
    width:80%;
 
    color: #B1B0B6;
}
#projecTitle{
    display: inline-block;

    margin-top: 13%;
    font-size: 22px;
    color: #28293D;
}
hr{
    width: 80%;
    margin-right: 40%;
    
    color: #28293D;
}
.right-div-grid{
    display: grid;
    grid-template-columns: 10% 50% 40% ;
}
.right-sub-title{
    font-size: 16px;
    margin-top: 12%;
}
.right-div-grid>p{
    display: inline-block;
    width: 100px;
   
}
.img-right-div{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: goldenrod;
    margin: auto;
  
}
.p-right-div-list{
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
   
    height: 25px;
}
