
.up-arroe-title{
    margin-top: 22px;
    margin-left: 20px;
    color: white;
    display: none;
  
}
.up-arroe-title:hover{
    cursor: pointer;
}
.sub-title{
    font-size: 14px;
    color: white;
}
.sub-title:hover{
    cursor: pointer;
}
.sub-projec-box{
    background-color:  #74778A;
}